html, body {
	background: #eaf2f5;
	margin: 0;
	padding: 0;
}
body {
	/font-size: 105%;
}
code {
	/font-size: 85%;
	/font-family: 'Lucida Console';
}
div.body {
	background: white;
	margin: 1em 10%;
	padding: 0 1em;
	border: 1px solid #bedce7;
}
a:link, a:visited {
	color: #4183ca;
}
h1 {
  margin: .5em 0;
}
h2, p, ul, ol, li, pre, hr {
  margin-top: .8em;
  margin-bottom: .8em;
}
hr {
  /margin: 0;
}
em {
  color: #555;
}
p.menu {
	font-family: sans-serif;
	font-size: 90%;
}
p.footer {
	font-size: 90%;
}
div.demo {
	border: 1px solid #555;
  margin: 1em auto;
	width: 550px;
}
#test1 {
	height: 367px;
}
#test2 {
	height: 200px;
}
#test3 {
	height: 367px;
}
hr {
	border: none;
	color: #bedce7;
	background-color: #bedce7;
	height: 1px;
}
p {
	text-align: justify;
}
div.right {
	font-size: 90%;
	right: 10%;
	padding-right: 1.2em;
	position: absolute;
	width: 90px;
}
div.right button {
	width: 90px;
}
div.caption {
	position: absolute;
	margin-top: -75px;
	margin-left: -75px;
	width: 150px;
	text-align: center;
	left: 50%;
	padding: 5px 10px;
	background: black;
	color: white;
	font-family: sans-serif;
	border-radius: 10px;
	display: none;
}
